<h1> <%= @merchant.name %>'s Discounts </h1>

<% @merchant.bulk_discounts.each do |discount| %>
  <div id="id-<%= discount.id %>">
    <ul>
      <li><p> Percentage: <%= number_to_percentage(discount.percentage, precision: 0) %></p></li>
      <li><p> Threshold: <%= discount.threshold %> items</p></li>
      <%= link_to "Percentage: #{discount.percentage}%", merchant_bulk_discount_path(@merchant, discount.id) %>
      <%= link_to "Remove: #{discount.id}", merchant_bulk_discount_path(@merchant, discount.id), method: :delete %>
    </ul>
  </div>
<%end%>

<div id="link-to-create-discount">
  <p><%= link_to "Create Discount", new_merchant_bulk_discount_path(@merchant) %></p>
</div>
<h4> Next 3 Public Holidays </h4>
  <% @facade.holidays.each do |holiday| %>
  <p> <%= holiday.name %> </p>
  <p> <%= holiday.date %> </p>
<% end %>
