<h1> <%= @merchant.name %>'s Discounts </h1>

<% @merchant.bulk_discounts.each do |discount| %>
  <div id="id-<%= discount.id %>">
    <ul>
      <li><p> Percentage: <%= number_to_percentage(discount.percentage, precision: 0) %> <%= link_to "Percentage: #{discount.percentage}%", merchant_bulk_discount_path(@merchant, discount.id) %></p> </li>
      <li><p> Threshold: <%= discount.threshold %> items</p> <%= link_to "Remove: #{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete %></li>
    </ul>
  </div>
<%end%>

<div id="link-to-create-discount">
  <p><%= link_to "Create Discount", new_merchant_bulk_discount_path(@merchant) %></p>
</div>
